body {
    font-family: 'Noto Sans',
                 'Noto Sans JP';
}

.wf-loading {
    visibility: hidden;
}

.wf-active, .wf-inactive {
    visibility: visible;
}

#main {
    width  : 100%;
    display: flex;
    justify-content: center;
}
